{{ form_start(form) }}
      {{ form_row(form.description_commentaire ,{'attr': {'class':' form-control '} } ) }}
     {{ form_row(form.date_commentaire ,{'attr':{'class':'form-control'}} ) }}
     {{ form_row(form.like ,{'attr':{'class':'form-control'}} ) }}
<br>
    <button class="btn btn-primary waves-effect waves-light">{{ button_label|default('Save') }}</button>
    <br>
{{ form_end(form) }}
