{{ form_start(form) }}
     {{ form_row(form.nom_like ,{'attr': {'class':' form-control '} } ) }}
     {{ form_row(form.rate ,{'attr':{'class':'form-control'}} ) }}
      {{ form_row(form.note ,{'attr':{'class':'form-control'}} ) }}
        <br>
    <button class="btn btn-primary waves-effect waves-light">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
